@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  padding: 20px;
  margin: auto;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: black;
}

header {
  background-color: black;
  width: 100svw;
  min-height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
header .container {
  padding: 0 20px !important;
}
header .container #logo {
  height: 50px;
}
header .container #search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 5px;
  background-color: white;
}
header .container #search-form input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
header .container #search-form button {
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 40px;
  width: 40px;
}
header .container #search-form button i {
  color: black;
  font-size: 1.25rem;
}
header .container .header-btn,
header .container #search-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-self: end;
  height: 40px;
  width: 40px;
  background: white;
}
header .container .header-btn i,
header .container #search-btn i {
  font-size: 1.25rem;
}
header .container .header-btn .fa-xmark,
header .container #search-btn .fa-xmark {
  display: none;
}
header .container .mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
header .container .mobile-header i {
  color: black !important;
}
header .container .mobile-header .mobile-header-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .container .desktop-header {
  display: none !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  height: 160px;
}
header .container .desktop-header .header-contacts {
  padding: 10px 0;
  border-bottom: 1px solid #CED6DE;
  width: 100%;
}
header .container .desktop-header .header-contacts ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
header .container .desktop-header .header-contacts ul div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
header .container .desktop-header .header-contacts ul li, header .container .desktop-header .header-contacts ul a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
header .container .desktop-header .header-contacts ul li span, header .container .desktop-header .header-contacts ul a span {
  font-size: 0.85rem;
}
header .container .desktop-header .header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
header .container .desktop-header .header-middle #logo {
  font-size: 1.75rem;
  font-weight: 600;
}
header .container .desktop-header .header-middle ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
header .container .desktop-header .header-middle ul a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .container .desktop-header .header-middle ul a i {
  font-size: 1.25rem;
}
header .container .desktop-header .header-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-template-columns: 1.755fr 2fr 0.5fr;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  width: 100%;
}
header .container .desktop-header .header-main .header-main-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
header .container .desktop-header .header-main #search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
}
header .container .desktop-header .header-main #search-form input {
  width: calc(100% - 40px);
}
header .container .desktop-header .header-main .language-changer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .container .desktop-header .header-main .language-changer img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
}
header .container .desktop-header .header-main li, header .container .desktop-header .header-main a, header .container .desktop-header .header-main span {
  color: white;
}
header .container .desktop-header .header-main button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: auto;
}
header .container .desktop-header .header-main button span {
  color: black;
}
header .container .desktop-header .header-main button i {
  font-size: 1.25rem;
}
header .container .desktop-header .header-main button .fa-xmark {
  display: none;
}
header .container .desktop-header .header-main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
header .container .desktop-header .header-main nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
header .container .desktop-header .header-main .header-user-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
header .container .desktop-header .header-main .header-user-links i {
  font-size: 1.25rem;
}

.categories {
  padding: 10px;
}
.categories ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  gap: 10px;
  width: 100%;
}
.categories ul .category {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.categories ul .category a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.categories ul .category a span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.categories ul .category a span img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.categories ul .category a i {
  font-size: 1.25rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
.contact-details ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.contact-details ul .contact-list-item,
.contact-details ul .schedule-list-item,
.contact-details ul .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: white;
}
.contact-details ul .contact-list-item a,
.contact-details ul .schedule-list-item a,
.contact-details ul .social-media-links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.contact-details ul .contact-list-item i,
.contact-details ul .schedule-list-item i,
.contact-details ul .social-media-links i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20px;
  font-size: 1.25rem;
}
.contact-details ul .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.contact-details ul .social-media-links i {
  font-size: 1.25rem;
}

#burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  background-color: #F3F5F7;
  height: calc(100vh - 80px);
  width: 100svw;
  position: fixed;
  top: 80px;
  left: -100svw;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
#burger-menu .container {
  height: 100%;
}
#burger-menu nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
#burger-menu nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  width: 100%;
}
#burger-menu nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  height: 100%;
}
#burger-menu nav ul li a i {
  font-size: 1.25rem;
}

#categories-menu {
  height: 100vh;
  width: 100svw;
  position: fixed;
  left: -100svw;
  top: 0px;
  z-index: 1500;
  padding: 160px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out, background-color 0.8s ease-in-out;
}
#categories-menu .container {
  border-radius: 5px;
  background-color: white;
  position: relative;
  height: 90%;
}
#categories-menu .container .categories {
  width: 30%;
  height: 100%;
  padding: 0px;
  overflow-y: scroll;
}
#categories-menu .container .categories::-webkit-scrollbar {
  display: none;
}
#categories-menu .container .categories .category:hover .subcategories {
  display: flex;
}
#categories-menu .container .categories .category:hover li {
  background-color: #F3F5F7;
}
#categories-menu .container .categories .category .category-sale span {
  color: #EC6708;
}
#categories-menu .container .categories .category li {
  border-radius: 5px;
  padding: 10px;
}
#categories-menu .container .categories .category li span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}
#categories-menu .container .categories .category li span img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
#categories-menu .container .categories .subcategories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  border-radius: 5px;
  height: calc(100% - 40px);
  background-color: #F3F5F7;
  position: absolute;
  display: none;
  padding: 20px;
  width: 70%;
  right: 20px;
  top: 20px;
}
#categories-menu .container .categories .subcategories .subcategory h3 {
  font-weight: 600;
  margin-bottom: 15px;
}
#categories-menu .container .categories .subcategories .subcategory .subsubcategories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}
#categories-menu .container .categories .subcategories .subcategory .subsubcategories li {
  padding: 0;
}

main {
  width: 100vw;
  min-height: 100vh;
  padding-top: 80px !important;
  background-color: white;
}
main .hero {
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
main .hero .swiper {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
main .hero .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .swiper .desktop-banner {
  display: none;
}
main .hero .swiper {
  margin-left: auto;
  margin-right: auto;
}
main .product-interactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
main .add-to-favorite,
main .add-to-cart,
main .remove-from-cart {
  width: 100%;
}
main .add-to-favorite button,
main .add-to-cart button,
main .remove-from-cart button {
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 100%;
  background-color: #F3F5F7;
  color: black;
}
main .products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  height: 500px;
  width: 100%;
}
main .products .title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  background-color: #F3F5F7;
  border-radius: 5px;
  padding: 10px;
  flex-shrink: 0;
  width: 50%;
  height: 100%;
}
main .products .title-box h1 {
  font-size: 1.75rem;
}
main .products .title-box p {
  font-weight: 600;
}
main .products .title-box a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
main .products .title-box a i {
  font-size: 0.85rem;
}
main .products .title-box h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}
main .products .title-box .quick-searches-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}
main .products .title-box .quick-searches-list .quick-search {
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  color: white;
}
main .products .title-box .quick-searches-list .quick-search span {
  font-size: 0.85rem;
}
main .products .products-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 50%;
  margin-bottom: 10px;
}
main .products .products-list .swiper-slide {
  width: 100%;
}
main .products .products-list .swiper-slide .product-tags span {
  display: none;
}
main .products .products-list .swiper-slide .product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
  width: 100%;
  height: 100%;
}
main .products .products-list .swiper-slide .product .product-image {
  height: 300px;
  width: 100%;
  padding: 10px;
}
main .products .products-list .swiper-slide .product .product-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .products .products-list .swiper-slide .product .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  height: 200px;
}
main .products .products-list .swiper-slide .product .product-details .product-details-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .products .products-list .swiper-slide .product .product-details .product-details-data a {
  font-size: 1.15rem;
  font-weight: 600;
}
main .products .products-list .swiper-slide .product .product-details .product-details-data .product-tags {
  margin-bottom: 0px !important;
}
main .products .products-list .swiper-slide .product .product-details .product-details-data .product-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
main .products .products-list .swiper-slide .product .product-details .product-details-data .product-price span:nth-child(1) {
  font-weight: 600;
}
main .products .products-swiper {
  width: 100%;
  overflow-x: hidden;
}
main .products .products-page-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F5F7;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
main .products .products-page-link i {
  font-size: 0.85rem;
}
main .self-promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
main .self-promo .self-promo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #F3F5F7;
  padding: 10px;
  height: 100%;
}
main .self-promo .self-promo-box i {
  font-size: 1.5625rem;
}
main .self-promo .self-promo-box .fa-truck {
  color: #3520f5;
}
main .self-promo .self-promo-box .fa-calculator {
  color: #E6007E;
}
main .self-promo .self-promo-box .fa-gear {
  color: #EC6708;
}
main .self-promo .self-promo-box .fa-check {
  color: #50AF31;
}
main .self-promo .self-promo-box .self-promo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
}
main .self-promo .self-promo-box .self-promo-content p {
  font-size: 0.85rem;
}
main .promo-banners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .promo-banners .promo-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: white;
  height: auto;
}
main .promo-banners .promo-banner .promo-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
main .promo-banners .promo-banner .promo-banner-content h1 {
  font-size: 1.75rem;
}
main .promo-banners .promo-banner .promo-banner-content p {
  font-size: 0.85rem;
}
main .promo-banners .promo-banner .promo-banner-content a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  background-color: white;
  color: black;
}
main .promo-banners .promo-banner .promo-banner-content a i {
  font-size: 0.85rem;
}
main .promo-banners .promo-banner img {
  width: 100%;
}
main .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .newsletter .newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .newsletter .newsletter-content h1 {
  font-size: 1.75rem;
}
main .newsletter .newsletter-content p {
  font-size: 0.85rem;
}
main .newsletter form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}
main .newsletter form input,
main .newsletter form button {
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  background-color: #F3F5F7;
}
main .newsletter form button {
  background-color: black;
  color: white;
}
main .product-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .product-tags .tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
main .product-tags .tag i, main .product-tags .tag span {
  font-size: 0.85rem !important;
}
main .product-tags .tag-sale {
  background-color: #E6007E;
}
main .product-tags .tag-popular {
  background-color: #3520f5;
}
main .product-wrapper .product-path {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .product-wrapper .product-path p {
  font-size: 0.85rem;
}
main .product-wrapper .product-path p span {
  color: #CED6DE;
}
main .product-wrapper .product-title {
  margin-bottom: 20px;
}
main .product-wrapper .product-title h1 {
  font-size: 1.75rem;
}
main .product-wrapper .product-images {
  margin-bottom: 20px;
}
main .product-wrapper .product-images-swiper {
  height: 400px;
  width: 100%;
  padding: 10px;
  border: 1px solid #CED6DE;
  border-radius: 5px;
}
main .product-wrapper .product-images-swiper img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .product-wrapper .product-images-pagination-swiper {
  padding: 10px 0px;
  width: 100%;
  height: auto;
}
main .product-wrapper .product-images-pagination-swiper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #F3F5F7;
  border-radius: 5px;
  width: calc(33% - 7.5px);
}
main .product-wrapper .product-images-pagination-swiper .swiper-slide img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .product-wrapper .product-images-pagination-swiper .swiper-slide-thumb-active {
  border: 1px solid #CED6DE;
}
main .product-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .product-wrapper ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .product-wrapper .product-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .product-wrapper .product-summary img {
  margin-bottom: 20px;
  width: 100px;
}
main .product-wrapper .product-summary h3 {
  font-size: 1.75rem;
}
main .product-wrapper .product-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .product-wrapper .product-price .product-purchase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #F3F5F7;
  padding: 10px;
  width: 100%;
}
main .product-wrapper .product-price .product-purchase .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .product-wrapper .product-price .product-purchase .price h3 {
  font-size: 1.75rem;
}
main .product-wrapper .product-price .product-purchase button {
  background-color: black;
  color: white;
}
main .product-wrapper .product-characteristics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .product-wrapper .product-characteristics h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
main .product-wrapper .product-characteristics .product-characteristics-a h4,
main .product-wrapper .product-characteristics .product-characteristics-b h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
main .user-general-information h1 {
  font-size: 1.75rem;
}
main .user-general-information h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
main .user-general-information .user-general-information-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .user-general-information .user-general-information-header .user-general-links {
  width: 100%;
}
main .user-general-information .user-general-information-header .user-general-links ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
main .user-general-information .user-general-information-header .user-general-links ul li {
  width: 100%;
}
main .user-general-information .user-general-information-header .user-general-links ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F5F7;
  border-radius: 5px;
  padding: 10px;
}
main .user-general-information .user-details-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
main .user-general-information .user-details-form form .user-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
main .user-general-information .user-details-form form .user-picture img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .user-general-information .user-details-form form .user-picture label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F5F7;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
main .user-general-information .user-details-form form .user-picture label input[type=file] {
  display: none;
}
main .user-general-information .user-details-form form .user-name,
main .user-general-information .user-details-form form .user-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
main .user-general-information .user-details-form form .user-name .form-group,
main .user-general-information .user-details-form form .user-contacts .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}
main .user-general-information .user-details-form form .user-name .form-group input,
main .user-general-information .user-details-form form .user-contacts .form-group input {
  background-color: #F3F5F7;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}
main .user-general-information .user-details-form form button {
  background-color: black !important;
  padding: 10px;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: white;
}
main .favorites .favorites-header,
main .favorites .cart-header,
main .cart .favorites-header,
main .cart .cart-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
main .favorites .favorites-header h1,
main .favorites .cart-header h1,
main .cart .favorites-header h1,
main .cart .cart-header h1 {
  font-size: 1.75rem;
}
main .favorites .favorites-header form,
main .favorites .cart-header form,
main .cart .favorites-header form,
main .cart .cart-header form {
  width: 100%;
}
main .favorites .favorites-header form button,
main .favorites .cart-header form button,
main .cart .favorites-header form button,
main .cart .cart-header form button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #F3F5F7;
  padding: 10px;
  color: black;
}
main .favorites .favorites-products-list,
main .favorites .cart-products-list,
main .cart .favorites-products-list,
main .cart .cart-products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
main .favorites .favorites-products-list .product,
main .favorites .cart-products-list .product,
main .cart .favorites-products-list .product,
main .cart .cart-products-list .product {
  width: 100%;
}
main .favorites .favorites-products-list .product .product-image img,
main .favorites .cart-products-list .product .product-image img,
main .cart .favorites-products-list .product .product-image img,
main .cart .cart-products-list .product .product-image img {
  width: 100%;
}
main .favorites .favorites-products-list .product .product-details,
main .favorites .cart-products-list .product .product-details,
main .cart .favorites-products-list .product .product-details,
main .cart .cart-products-list .product .product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px;
}
main .favorites .favorites-products-list .product .product-details a,
main .favorites .cart-products-list .product .product-details a,
main .cart .favorites-products-list .product .product-details a,
main .cart .cart-products-list .product .product-details a {
  font-size: 1.25rem;
  font-weight: 600;
}
main .favorites .favorites-products-list .product .product-details p,
main .favorites .favorites-products-list .product .product-details span,
main .favorites .cart-products-list .product .product-details p,
main .favorites .cart-products-list .product .product-details span,
main .cart .favorites-products-list .product .product-details p,
main .cart .favorites-products-list .product .product-details span,
main .cart .cart-products-list .product .product-details p,
main .cart .cart-products-list .product .product-details span {
  font-size: 0.85rem;
}
main .favorites .favorites-products-list .product .product-details .product-price,
main .favorites .cart-products-list .product .product-details .product-price,
main .cart .favorites-products-list .product .product-details .product-price,
main .cart .cart-products-list .product .product-details .product-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
main .favorites .favorites-products-list .product .product-interactions,
main .favorites .cart-products-list .product .product-interactions,
main .cart .favorites-products-list .product .product-interactions,
main .cart .cart-products-list .product .product-interactions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main .favorites .favorites-products-list .product .product-interactions .product-cart-quantity,
main .favorites .cart-products-list .product .product-interactions .product-cart-quantity,
main .cart .favorites-products-list .product .product-interactions .product-cart-quantity,
main .cart .cart-products-list .product .product-interactions .product-cart-quantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
main .favorites .favorites-products-list .product .product-interactions .product-cart-quantity span,
main .favorites .cart-products-list .product .product-interactions .product-cart-quantity span,
main .cart .favorites-products-list .product .product-interactions .product-cart-quantity span,
main .cart .cart-products-list .product .product-interactions .product-cart-quantity span {
  font-size: 1.25rem;
}
main .favorites .favorites-products-list .product .product-interactions .product-cart-quantity button,
main .favorites .cart-products-list .product .product-interactions .product-cart-quantity button,
main .cart .favorites-products-list .product .product-interactions .product-cart-quantity button,
main .cart .cart-products-list .product .product-interactions .product-cart-quantity button {
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  background-color: #F3F5F7;
}
main .favorites .favorites-products-list .product .product-interactions .product-cart-quantity button i,
main .favorites .cart-products-list .product .product-interactions .product-cart-quantity button i,
main .cart .favorites-products-list .product .product-interactions .product-cart-quantity button i,
main .cart .cart-products-list .product .product-interactions .product-cart-quantity button i {
  font-size: 0.85rem;
}
main .favorites .cart-summary h3,
main .cart .cart-summary h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
main .favorites .cart-summary form,
main .cart .cart-summary form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background-color: #F3F5F7;
  padding: 10px;
}
main .favorites .cart-summary form p, main .favorites .cart-summary form strong,
main .cart .cart-summary form p,
main .cart .cart-summary form strong {
  font-size: 1.25rem;
}
main .favorites .cart-summary form button,
main .cart .cart-summary form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: black;
  padding: 10px;
  color: white;
  width: 100%;
}

footer {
  padding-top: 20px;
}
footer h3, footer p, footer span, footer i, footer a {
  color: white;
}
footer .footer-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
footer .footer-main .footer-contacts {
  margin-bottom: 20px;
}
footer .footer-main .footer-contacts img {
  height: 50px;
  margin-bottom: 20px;
}
footer .footer-main .footer-contacts ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-main .footer-contacts ul i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20px;
  font-size: 1.25rem;
}
footer .footer-main .footer-contacts ul a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer .footer-main .footer-contacts ul .footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
footer .footer-main .footer-links {
  margin-bottom: 20px;
  height: 100%;
}
footer .footer-main .footer-links h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .footer-main .footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-end .author-signature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer-end .author-signature a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer-end .author-signature a img {
  height: 40px;
  width: 40px;
}
footer .footer-end .author-signature a span {
  font-size: 1.25rem;
  padding-bottom: 2.5px;
  border-bottom: 2.5px dotted white;
}

.swiper .swiper-button-next i,
.swiper .swiper-button-prev i {
  font-size: 2rem;
  color: black;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-pagination-bullet-active {
  background-color: black;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  main {
    padding-top: 160px !important;
  }
  main .hero .mobile-banner {
    display: none;
  }
  main .hero .desktop-banner {
    display: inline-block !important;
  }
  main .promo-banners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  main .promo-banners .promo-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 250px;
  }
  main .promo-banners .promo-banner img {
    height: 100%;
    padding: 10px;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer {
    background-color: black;
  }
  footer .footer-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  footer .footer-main .footer-contacts {
    grid-column: 1/3;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 90%;
  }
  body,
  header {
    background-color: white;
  }
  header .container .mobile-header,
  header .container #burger-menu {
    display: none !important;
  }
  header .container .desktop-header {
    display: flex !important;
  }
  main {
    padding-top: 100px;
  }
  main .products {
    height: 500px !important;
  }
  main .products .title-box {
    width: 25% !important;
  }
  main .products .product-tags span {
    display: inline-block !important;
  }
  main .products .products-list {
    width: 80% !important;
  }
  main .products .products-list .swiper-slide {
    width: calc(33.3333333333% - 13px) !important;
  }
  main .self-promo {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  main .self-promo .self-promo-box {
    height: 100%;
  }
  main .promo-banners {
    flex-direction: row !important;
  }
  main .promo-banners .promo-banner {
    flex-direction: column !important;
    height: 450px;
    width: 50%;
  }
  main .promo-banners .promo-banner .promo-banner-content {
    width: 100%;
  }
  main .promo-banners .promo-banner img {
    height: 60% !important;
    width: 100% !important;
  }
  main .newsletter {
    flex-direction: row !important;
  }
  main .newsletter .newsletter-content,
  main .newsletter form {
    width: 50% !important;
  }
  main .product-details {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  main .product-details p, main .product-details span {
    font-size: 1rem !important;
  }
  main .product-details .product-images {
    max-width: 75%;
  }
  main .product-details .product-images .product-images-pagination-swiper .swiper-slide {
    width: calc(25% - 7.5px);
  }
  main .product-details .product-summary {
    max-width: 25%;
  }
  main .product-details .product-price {
    width: 100%;
  }
  main .product-characteristics-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
  }
  main .user-general-information-header .user-general-links ul {
    flex-direction: row !important;
  }
  main .user-details-form form {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  main .user-details-form form .user-picture {
    grid-column: 1/3;
  }
  main .user-details-form form button {
    grid-column: 1/3;
  }
  main .favorites-products-list,
  main .cart-products-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  footer .footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  footer .footer-main .footer-contacts {
    grid-column: 1/2;
  }
  footer .footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  main {
    padding-top: 100px;
  }
  main .products .title-box {
    width: 20% !important;
  }
  main .products .products-list {
    width: 80% !important;
  }
  main .products .products-list .swiper-slide {
    width: calc(25% - 15px) !important;
  }
  main .product-details {
    justify-content: space-between;
  }
  main .product-details .product-images {
    max-width: 50%;
  }
  main .product-details .product-images .product-images-pagination-swiper .swiper-slide {
    width: calc(20% - 7.5px);
  }
  main .product-details .product-summary {
    max-width: 25%;
  }
  main .product-details .product-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 25%;
  }
  main .favorites-products-list,
  main .cart-products-list {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}/*# sourceMappingURL=styles.css.map */